@model RegistroPacientes.Models.Paciente

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.app_pate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.app_pate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.app_mate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.app_mate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nom_paci)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nom_paci)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cod_dist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cod_dist)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.des_direcc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.des_direcc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fec_registro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fec_registro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cod_esta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cod_esta)
        </dd>
    </dl>
    
    <form asp-action="Eliminar">
        <input type="hidden" asp-for="cod_pac" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Listar" class="btn btn-secondary">Back to List</a>
    </form>
</div>
